@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}

/* Prevent scrollbars globally */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

/* Make sure the body takes up the full screen height */
#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}
